@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');
@import 'tailwindcss';

:root {
  font-family: 'Inter', system-ui, sans-serif;
}

body {
  @apply antialiased text-white;
  /* Hogy a háttérkép ne ugráljon */
  @apply min-h-screen overflow-hidden bg-gray-900;
}

